* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  color: white;
  position: relative;

}


body {
  background-color: #060c21;
  font-family: 'Courier New', Courier, monospace;
}

.main {
  padding: 40px;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 40vw;
  height: auto;

  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px #22c1c3;
  color: white;
  background-color: transparent;

}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #22c1c3;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-3px);

}

.btn:active{
  transform: translateY(3px);
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

footer {
  font-family: 'Courier New', Courier, monospace ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.git{
  display: flex;
  justify-content: center;
}

.git i {
  font-size: 30px;
}